.btn__socials {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    box-shadow: 0.4px 0.9px 12px 0 rgba(0, 0, 0, 0.4);
    background-color: red;
    background-image: linear-gradient(to right, #b70fd8, #5631e2);
    transition-duration: .2s;

    
}

.btn-rules {


text-transform: uppercase;
text-decoration: none;
color: #fff;

letter-spacing: 1.7px;
font-size: 12px;
font-weight: 500;
margin-right: 16px;
-moz-backface-visibility: hidden;
border: transparent;
box-sizing: border-box;
transition-duration: .2s;

  &:hover {
    border: 2px solid #b70fd8;
    padding: 10px;
    border-radius: 15px;
  }

  @include tablets() {
    font-size: 10px;
    padding: 8px;
    margin-right: 4px;
  }
}

.btn-referr {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    text-decoration: none;
    -moz-backface-visibility: hidden;
    box-sizing: border-box;
    border: transparent;
    transition-duration: .2s;

    &:hover {
      border: 2px solid #b70fd8;
      padding: 10px;
      border-radius: 15px;
    }

    @include tablets() {
      font-size: 10px;
    }

}

.btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: Exo;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    width: 300px;
    height: 61px;
    padding: 14px;
    background: url('../img/button-login.png') center center no-repeat;
    text-decoration: none;


    &:hover,
    &:active {
      background: rgba(210,249,250,1);
      background: -moz-linear-gradient(top, rgba(210,249,250,1) 0%, rgba(59,219,219,1) 51%, rgba(204,252,255,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,249,250,1)), color-stop(51%, rgba(59,219,219,1)), color-stop(100%, rgba(204,252,255,1)));
      background: -webkit-linear-gradient(top, rgba(210,249,250,1) 0%, rgba(59,219,219,1) 51%, rgba(204,252,255,1) 100%);
      background: -o-linear-gradient(top, rgba(210,249,250,1) 0%, rgba(59,219,219,1) 51%, rgba(204,252,255,1) 100%);
      background: -ms-linear-gradient(top, rgba(210,249,250,1) 0%, rgba(59,219,219,1) 51%, rgba(204,252,255,1) 100%);
      background: linear-gradient(to bottom, rgba(210,249,250,1) 0%, rgba(59,219,219,1) 51%, rgba(204,252,255,1) 100%);
      border-radius: 35px;
    }


    @media screen and (max-width: 950px) {
      background: rgba(196,242,245,1);
      background: -moz-linear-gradient(top, rgba(196,242,245,1) 0%, rgba(88,206,214,1) 50%, rgba(120,211,219,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(196,242,245,1)), color-stop(50%, rgba(88,206,214,1)), color-stop(100%, rgba(120,211,219,1)));
      background: -webkit-linear-gradient(top, rgba(196,242,245,1) 0%, rgba(88,206,214,1) 50%, rgba(120,211,219,1) 100%);
      background: -o-linear-gradient(top, rgba(196,242,245,1) 0%, rgba(88,206,214,1) 50%, rgba(120,211,219,1) 100%);
      background: -ms-linear-gradient(top, rgba(196,242,245,1) 0%, rgba(88,206,214,1) 50%, rgba(120,211,219,1) 100%);
      background: linear-gradient(to bottom, rgba(196,242,245,1) 0%, rgba(88,206,214,1) 50%, rgba(120,211,219,1) 100%);
      border-radius: 35px;
      border: 0.7px solid #0a0813;
    }

    @include tablets() {
      font-size: 14px;
      width: 170px;
      height: 45px;
      text-align: center;
      margin-right: 0;
    }
}

.btn-time {
    width: 148px;
    height: 55px;
    background-color: #352162;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: 500;
    letter-spacing: 3.4px;
    color: #ffffff;

    @include tablets() {
      font-size: 15px;
    }

    @include phones() {
      width: 110px;
      height: 40px;
      border-radius: 30px;
    }
}

.btn-bet {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: Exo;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    width: 144px;
    height: 61px;
    margin-left: 8px;
    padding: 14px;
    background: url('../img/button-bet.png') center center no-repeat;
    text-decoration: none;

    @include tablets() {
      font-size: 15px;
    }

    @include phones() {
      width: 110px;
      height: 40px;
      background-image: none;
      background-color: #f0a840;
      border-radius: 30px;
    }

    &:hover,
    &:active {
      border-radius: 30px;
      background: -moz-linear-gradient(top, rgba(253,238,150,1) 0%, rgba(253,238,150,1) 7%, rgba(250,191,30,1) 47%, rgba(246,209,75,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,238,150,1)), color-stop(7%, rgba(253,238,150,1)), color-stop(47%, rgba(250,191,30,1)), color-stop(100%, rgba(246,209,75,1)));
      background: -webkit-linear-gradient(top, rgba(253,238,150,1) 0%, rgba(253,238,150,1) 7%, rgba(250,191,30,1) 47%, rgba(246,209,75,1) 100%);
      background: -o-linear-gradient(top, rgba(253,238,150,1) 0%, rgba(253,238,150,1) 7%, rgba(250,191,30,1) 47%, rgba(246,209,75,1) 100%);
      background: -ms-linear-gradient(top, rgba(253,238,150,1) 0%, rgba(253,238,150,1) 7%, rgba(250,191,30,1) 47%, rgba(246,209,75,1) 100%);
      background: linear-gradient(to bottom, rgba(253,238,150,1) 0%, rgba(253,238,150,1) 7%, rgba(250,191,30,1) 47%, rgba(246,209,75,1) 100%);
     
    }

 
}

.btn-bet-non-active {
  text-align: center;
  line-height: 1.2;
  padding: 11px;

}



label.capsule {
    display: inline-flex;
    justify-content: space-between;
    width: 83px;
    border: 1px solid rgb(200,200,200);
    line-height: 30px;
    border-radius: 25px;
    background-color: #EF9A9A;
}

// Переключатель языка
$switchbg:  #362863;
$white: #fff;

@mixin clearfix {
	zoom: 1;
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	&:after {
		clear: both;
	}
}

.btn-toggle {
    margin-top: 3%;
    margin-right: 13px;
}


.switch {
  background-color: $switchbg;
  width: 83px;
  display: inline-block;
  border-radius: 18px;
  height: 40px;
  padding: 2px;
  position: relative;
  @include clearfix;

  @include tablets(){
    width: 65px;
    height: 38px;
  }

  label {
    float: left;
    width: 50%;
    position: relative;
    z-index: 2;
    line-height: 40px;
    cursor: pointer;
    color: lighten($switchbg, 30%);
    border-radius: 18px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.7px;
    text-align: center;

    @include tablets(){
      font-size: 10px;
    }
  }
  input[type="radio"]{
    display: none;
    &:checked + label {
      color: $white;
      font-weight: bold;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1.7px;
      text-align: center;

      @include tablets(){
        font-size: 10px;
        
      }
    }
  }
  span {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    border-radius: 18px;
    background-image: linear-gradient(to right, #b70fd8, #5631e2);
    transition: all 200ms ease;
    &.right {
      left: 50%;
      border-radius: 18px;
      transition: all 200ms ease;
    }
  }
}