.features {
    max-width: 60em;
    min-height: 6.000em;
    border-radius: 48px;
    box-shadow: 4.8px 9.9px 18px 0 rgba(0, 0, 0, 0.23);
    background-color: #362863;
    margin-top: -2.938em;
    position: relative;
    z-index: 5;
    
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 950px) {
        flex-direction: column;
        margin-top: -1em;
    }

    @include tablets() {
        width: 100%;
        margin-top: -2em;
    }
}

.features__list {
    display: flex;
    align-items: center;

    @media screen and (max-width: 675px)  {
       flex-direction: row;
       align-items: center;
       width: 100%;
    }
}

.features__item {
    color: #86d9e0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets() {
    }

    &:last-child {

        @include phones() {
            margin-left: 0;
        }
    }

    &:before {
        content: "";
        display: block;
        width: 3.750em;
        height: 2.875em;
        margin-right: 1.000em;

        @include tablets() {
            margin-right: 28px;
        }
        
    }

    &:after {
        content: "";
        display: block;
        width: 1px;
        height: 60px;
        background-color: #5d4f63;
        margin-right: 20px;

        @media screen and (max-width: 950px) {
           display: none;
        }
    }

    @include phones() {
    }
}

.features__desc {
    display: flex;
    flex-direction: column;
    margin-right: 39px;

    @include tablets() {
        margin-right: 0;
    }
    
}

.features__item-bank:before {
background: url('../img/bank-icon.png') center center no-repeat;

}

.features__item-wins:before {
    background: url('../img/wins-icon.png') center center no-repeat;
    

}

.features__title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include tablets() {
        font-size: 13px;
    }
}

.features__number {
    font-size: 30px;
    font-weight: 500;

    @include tablets() {
        font-size: 20px;
    }
}

.features__value {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.7px;
    color: #ffffff;

    @include tablets() {
        font-size: 10px;
    }
}