.features {
    max-width: 81.250em;
    min-height: 6.000em;
    border-radius: 48px;
    box-shadow: 4.8px 9.9px 18px 0 rgba(0, 0, 0, 0.23);
    background-color: #362863;
    margin-top: -0.938em;
    position: relative;
    z-index: 5;
    
    padding-top: 0.938em;
    padding-bottom: 0.938em;
    padding-left: 2.688em;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 950px) {
        flex-direction: column;
    }
}

.features__list {
    display: flex;
    align-items: center;

    @media screen and (max-width: 675px)  {
       
    }
}

.features__item {
    color: #86d9e0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child {
        margin-left: 2.875em;

        @include phones() {
            margin-left: 0;
        }
    }

    &:before {
        content: "";
        display: block;
        width: 3.750em;
        height: 2.875em;
        margin-right: 1.000em;

        @include tablets() {
            width: 100%;
            margin-right: 0;
        }
        
    }

    &:after {
        content: "";
        display: block;
        width: 1px;
        height: 60px;
        background-color: #5d4f63;

        @media screen and (max-width: 950px) {
           display: none;
        }
    }

    @include phones() {
        margin-bottom: 7%;
    }
}

.features__desc {
    display: flex;
    flex-direction: column;
    margin-right: 39px;
    
}

.features__item-bank:before {
background: url('../img/bank-icon.png') center center no-repeat;

}

.features__item-wins:before {
    background: url('../img/wins-icon.png') center center no-repeat;
    

}

.features__title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include tablets() {
        font-size: 13px;
    }
}

.features__number {
    font-size: 30px;
    font-weight: 500;

    @include tablets() {
        font-size: 20px;
    }
}

.features__value {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.7px;
    color: #ffffff;

    @include tablets() {
        font-size: 10px;
    }
}