.header__top {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    z-index: 10;

    @include phones() {
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }
}

.header__top-col-right {
    display: flex;
    align-items: center;

    @include tablets() {
        margin-bottom: 2%;
    }
}

.header__rules {
    margin-right: 13px;
    
    @include tablets() {
        margin-right: 2px;
    }
}

.header__main-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__main-img-pic {
    margin-top: -7%;
    z-index: 2;
    position: relative;
    width: 60%;

    @include tablets() {
        width: 100%;
    }



  
}

.logo-pic {
    width: 100%;
    @media screen and (max-width: 610px) {
        width: 80%;
    } 
}

.header__features {
    display: flex;
    justify-content: center;
}