.header__top {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    z-index: 10;

    @include tablets() {
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
}

.header__top-col-right {
    display: flex;
    align-items: center;

    @include tablets() {
        
    }
}

.header__rules {
    margin-right: 13px;
}

.header__main-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__main-img-pic {
    margin-top: -7%;
    z-index: 2;
    position: relative;
    width: 60%;

  
}

.logo-pic {
    width: 100%;
    @include tablets() {
        width: 67%;
        margin-left: 18%;
    }
}

.header__features {
    display: flex;
    justify-content: center;
}