.popup-login {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .51);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 12;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;


    &_active {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

.popup-login__content {
    background-color: #321250;
    width: 755px;
    border-radius: 10px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablets() {
        width: 400px;
        padding: 25px;
    }

    @include phones() {
        width: 300px;
        padding: 20px;
    }
    
}

.popup-login__top {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 28px;

    @include tablets() {
        margin-bottom: 15px;
    }
}

.popup__separator {
    width: 100%;
}

.popup-login__desc {
    max-width: 584px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    margin-top: 27px;
    line-height: 2em;

    @include tablets() {
        font-size: 14px;
        text-align: left;
    }

    @include phones() {
        font-size: 12px;
    }
}

.popup-close {
    position: relative;
    cursor: pointer;

    top: -220px;
    right: -356px;

    @include tablets() {
    top: -265px;
    right: -177px;
    }

    @include phones() {
        top: -245px;
        right: -125px;
    }
}

.popup-login__text_mark {
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
}
.popup__mark {
    font-weight: bold;
}

.popup__desc_rules {
    text-align: left;
}

//Правила

.popup-rules {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, .51);
    z-index: 12;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;


    &_active {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
}

.popup-rules__content {
    background-color: #321250;
    width: 755px;
    border-radius: 10px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    margin-top: -10%;


    @media screen and (max-width: 1030px) {
        margin-top: -70%;
    }

    @media screen and (max-width: 950px) {
        margin-top: -138%;
    }

    @include tablets() {
    width: 400px;
    padding: 25px;
    margin-top: -80%;
    }

    @include phones() {
        width: 300px;
        padding: 20px;
        margin-top: -200%;
    }


}

.popup-rules__top {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin-bottom: 28px;

    @include tablets() {
        margin-bottom: 11px;
    }
}

.popup-rules__desc {
    max-width: 700px;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #ffffff;
    margin-top: 27px;
    line-height: 1.4em;

    @include tablets() {
        margin-top: 0px;
    }

    @include phones() {
        font-size: 12px;
    }


}

.popup-close_rules {
    top: -1085px;



    @include tablets() {
        top: -1465px;
    }





}

.star {
    display: inline-flex;
    vertical-align: top;
    margin-left: 1%;

}

.star_left {
    margin-left: 0;
    margin-right: 1%;
}

.paragraph {
    margin-bottom: 2%;
}

// BET

.popup-bet {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .51);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 12;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;



    &_active {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

.popup-bet__content {
    background-color: #321250;
    width: 755px;
    border-radius: 10px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    @include tablets() {
        width: 400px;
        padding: 25px;
    }

    @include phones() {
        width: 300px;
        padding: 20px;
    }
    
}

.popup-bet__top {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 28px;

    @include tablets() {
        margin-bottom: 15px;
    }
}


.popup-bet__desc {
    max-width: 584px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    margin-top: 27px;
    line-height: 2em;

    @include tablets() {
        font-size: 14px;
        text-align: left;
    }

    @include phones() {
        font-size: 12px;
    }
}


.popup-bet__text_mark {
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
}
.popup__mark {
    font-weight: bold;
    text-transform: uppercase;
}

.popup-close-bet {
    position: relative;
    cursor: pointer;

    top: -220px;
    right: -356px;

    @include tablets() {
    top: -265px;
    right: -177px;
    }

    @include phones() {
        top: -245px;
        right: -125px;
    }
}